h1 {
margin-top: 50px;
text-align: center;
font-family: "Lobster", Arial, Helvetica, sans-serif;
font-size: 2rem;
line-height: 2.3rem;
font-weight: 700;
letter-spacing: -.03em;
color: hotpink;
}

}
h2 {

	margin-top: 50px;
  text-align: center;
  font-family: Noto Serif, Arial,Helvetica,sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: -.03em;
  color: lightpink;}
  
  #myhobbie {

    margin-top: 50px;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: -.03em;
  color: lightpink;}

  .card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;}

    div {
    display: block;}

    body {
background-color: lightpink;
}


      